<div class="home" ng-show="userId === ''" ng-cloak>
  <section>
    <h1>
      <img src="img/logo.png" alt="fun retro logo" />FunRetro
      <br />
      <small>SMB Payroll fork</small>
    </h1>

    <button ng-click="modalService.openAddNewBoard(this)">NEW BOARD</button>
    <h2 class="section-header">Receive tips & tricks about retrospectives</h2>
    <a class="button" href="http://eepurl.com/caj-19" target="_blank">SUBSCRIBE HERE</a>
  </section>
  <section class="step">
    <h2>Set the context</h2>
    <img src="img/image1.png" alt="screenshot of set the context feature" />
    <p>
      Why is this retrospective being held? What will it cover? Retrospectives, similarly to any other meeting, are more effective
      if the participants align their expectations before getting into it.
    </p>
  </section>
  <section class="step">
    <h2>
      Read the prime directive
    </h2>
    <img src="img/image2.png" alt="screenshot of read the prime directive feature" />
    <p>The statement is invaluable for setting the meeting tone. Make it visible to all participants, and read it out loud before
      running your retrospective activity.</p>
  </section>
  <section class="step">
    <h2>
      Go for it!
    </h2>
    <img src="img/image3.png" alt="screenshot of an example of a board" />
    <p>
      It is time to gather data, talk about the positive stuff, recognize people and seek improvements. Select an activity, create
      and customize your board. Go for it!
    </p>
  </section>
  <section>
    <a href="https://github.com/funretro/distributed/blob/master/PRIVACY.MD" target="_black">Privacy Policy</a>
    <p class="website">Learn more about retrospectives at
      <a href="http://funretrospectives.com" target="_blank">funretrospectives.com</a>
    </p>
  </section>
</div>